{% extends 'main.html' %}

{% load static %}


{% block title %}
    Cart
{% endblock %}

{% block content %}


<div class = "flex justify-center px-20 py-5 bg-gray-200 text-gray-500 r">
    <script>
        price = "price_"
        quant = "quantity_"
        checkboxx = "product_checkbox"
        page_checkbox = []
        page = {}
        id = []
        const csrfToken = "{{ csrf_token }}"
    </script>
    <div name = "purchases" class= "justify-right   ">
        {% if data%}
        {% for a in seller %}
        <script>
            productt = []
            
        </script>

        <div class="justify-start text-sm text-gray mt-5 mb-5 pl-5 ">
            
            <div class="bg-white p-3 ">
                <div class="pb-2 text-xl">
                    <input type="checkbox" name="" id="page_checkbox_{{a}}">
                    <span> {{ a }}  </span>
                </div>
                <hr>
                <br>
                
                {% for i in data %}

                {% if i.id.email.name == a %}
                    <div class="flex justify-between pt-2 bg-gray-50">
                        <div class="justify-start flex">
                            <div class="pr-2">
                                <input type="checkbox" name="" id="product_checkbox{{i.id.id}}">
                            </div>
                            <div class="pr-2">
                                <img src="images/{{ i.id.image}}" class="w-16" alt="image">
                            </div>
                            <div>
                                <span class="text-lg"> {{i.id.name}} </span>
                                <br>
                                <span> {{i.id.description}} </span>
                            </div>
                        </div>
                        <div class="justify-center px-12">
                            <span class="text-lg">Rs. 
                                <span id = "price_{{i.id.id}}">{{i.id.price}}</span> 
                            </span>
                            <br>
                            <button type="button" class="bg-blue-800 text-white">like</button>
                            <button class="bg-blue-800 text-white">del</button>
                        </div>
                        <div class="justify-end px-5 flex snap-center">
                            <button class = "px-2 " id = "quantity_sub_{{i.id.id}}" > - </button>
                            <p id = "quantity_{{i.id.id}}"> 

                                {{i.quantity}}
                            </p>
                            <button class = "px-2" id = "quantity_add_{{i.id.id}}" > + </button>
        
                        </div>
        
                    </div>
                    <br>
                    
                    <script>
                        {% comment %} if( ! product_checkbox.includes("product_checkbox{{i.id.id}}"))
                        {
                            product_checkbox.push("product_checkbox{{i.id.id}}")

                        } {% endcomment %}
                        if(! page_checkbox.includes("page_checkbox_{{a}}"))
                        {

                            page_checkbox.push("page_checkbox_{{a}}")
                        }

                        productt.push("product_checkbox{{i.id.id}}")
                        id.push("{{i.id.id}}")
                        {% comment %} subt.push("quantity_sub_{{i.id.id}}") {% endcomment %}
        
                    </script>
                    {% endif %}
                {% endfor %}
                </div>
                
                
            </div>
            <script>
                if(productt)
                {
                    page["{{a}}"] =productt
                }
            </script>
            
        {% endfor %}
        {% endif %}
    </div>
    
    <div name = "Summary" class= "justify-left ml-4 ">

        <div  class= " mt-5 mb-5 mr-20 bg-white p-5">
            <h4 class = "text-lg text-black">Order Summary</h4>
            
            <div class= "flex justify-between  ">
                <p class = " justify-start text-sm " > Subtotal</p>
                <p class = "justify-end text-sm"> Rs. 
                    <span id = "subtotal">0</span>
                </p>
                
            </div>
            <div>
                <input class = "rounded-sm text-sm mt-1 mb-1 " type = "text" name = "voucher" placeholder = "Enter Voucher Code">
                <button class= "bg-blue-500 rounded-sm p-1 pl-3 pr-3 text-white"> Apply</button>
            </div>
            
            <div class= "flex justify-between  ">
                <p class = " justify-start text-sm "> Total</p>
                <p class = "justify-end text-sm"> Rs. 
                    <span id = "total">0</span>
                    </p>
            </div>
            <button class="m-1 p-1 pl-10 pr-10 bg-orange-500 hover:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring focus:ring-violet-300 text-center text-gray-200"> Proceed to checkout</button>

        </div>
    </div>
</div>


<script src="{% static 'js/cart.js' %}"></script>

{% endblock content %}