{% extends 'main.html' %}

{% load static %}


{% block title %}
    Cart
{% endblock %}

{% block content %}


<div class = "flex justify-center px-20 py-5 bg-gray-200 text-gray-500 r">
    <div name = "purchases" class= "justify-right   ">
        {% for i in data %}
        <div class="justify-start text-sm text-gray mt-5 mb-5 pl-5 ">

            <div class="bg-white p-3 ">
                <div class="pb-2 text-xl">
                    <input type="checkbox" name="" id="">
                    <span>Product Name</span>
                </div>

                <div class="flex justify-between pt-2 ">
                    <div class="justify-start flex">
                        <div class="pr-2">
                            <input type="checkbox" name="" id="">
                        </div>
                        <div class="pr-2">
                            <img src="https://randomuser.me/api/portraits/women/72.jpg" class="w-16" alt="image">
                        </div>
                        <div>
                            <span class="text-lg">Product Name</span>
                            <br>
                            <span> info</span>
                        </div>
                    </div>
                    <div class="justify-center px-12">
                        <span class="text-lg">Rs. 1000</span>
                        <br>
                        <button type="button" class="bg-blue-800 text-white">like</button>
                        <button class="bg-blue-800 text-white">del</button>
                    </div>
                    <div class="justify-end px-5">
                        <button type="button" class="bg-gray-400">---</button>
                        1
                        <button type="button" class="bg-gray-600">++</button>
    
                    </div>
    
                </div>
                
            </div>
        </div>
        
        {% endfor %}
    </div>
    
    <div name = "Summary" class= "justify-left ml-4 ">

        <div  class= " mt-5 mb-5 mr-20 bg-white p-5">
            <h4 class = "text-lg text-black">Order Summary</h4>
            
            <div class= "flex justify-between  ">
                <p class = " justify-start text-sm "> Subtotal</p>
                <p class = "justify-end text-sm"> Rs. 0</p>
                
            </div>
            <div>
                <input class = "rounded-sm text-sm mt-1 mb-1 " type = "text" name = "voucher" placeholder = "Enter Voucher Code">
                <button class= "bg-blue-500 rounded-sm p-1 pl-3 pr-3 text-white"> Apply</button>
            </div>
            <div class= "flex justify-between  ">
                <p class = " justify-start text-sm "> Total</p>
                <p class = "justify-end text-sm"> Rs. 0</p>
            </div>
            <button class="m-1 p-1 pl-10 pr-10 bg-orange-500 hover:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring focus:ring-violet-300 text-center text-gray-200"> Proceed to checkout</button>

        </div>
    </div>
</div>


    
{% endblock content %}