{% extends 'main.html' %}

{% load static %}
{% block style %}


{% endblock %}

{% block title %}
    Home
{% endblock %}

{% comment %} {% block navprofile %}
{% if username == "" %}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'login' %}"> Profile</a></li>

{% else%}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'profile' %}"> profile</a></li>

{% endif %}
{% endblock %} 

{% block navsign %}

{% if username == "" %}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'login' %}"> signin</a></li>

{% else%}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'logout' %}"> Logout</a></li>

{% endif%}

{% endblock %}  {% endcomment %}






{% block content %}

<div class="bg-gray-300 grid justify-center">
    
    <div class="bg-gray-300 p-5 px-20 grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5  gap-4 max-w-[80rem]  ">
    

        {% if data %}
            {% for i in data %}
            
        
                <div id = "mydiv" class = "m-5  border-x-1 p-2  bg-white  text-lg w-[11rem] block h-[17rem] hover:border-2 border-gray-400	 ">
                    <div>
                        <img class = " w-60 h-[10rem]" src="{{ MEDIA_URL }}{{i.image}}" alt="product_image">
                    </div>
                    <br>
                    <div>
                        <h2>{{i.name}}</h2>
                
                    </div>
                    <div>
                        <h2 class="text-orange-600">Rs. {{i.price}}</h2>
                    </div>
                    <div>
                        <h4 class="text-green-600 text-sm">{{i.review}}</h4>
                    </div>
                
                
                </div>
                
        
            {% endfor %}

        {% endif %}
    </div>
   
</div>

<script>
    var myDiv = document.getElementById('mydiv');
    myDiv.addEventListener('click', function() {
        alert('Div element was clicked!');
    });
</script>

{% endblock content %}