{% extends 'main.html' %}

{% load static %}
{% block style %}


{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="bg-gray-300 pl-6 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 justify-center grid-gap-10">

    {% for i in "111111111111111111" %}
    

        <div class = "m-2  w-[9rem]  p-2 bg-white text-lg min-w-[9rem] block ">
            <div>
                <img src="https://randomuser.me/api/portraits/men/18.jpg" alt="product_image">
            </div>
            <div>
                <h2>{{product}}</h2>
        
            </div>
            <div>
                <h2 class="text-orange-600">Rs. {{price}}</h2>
            </div>
            <div>
                <h4 class="text-green-600 text-sm">{{rating}}</h4>
            </div>
        
        
        </div>
<!-- 
        {% if forloop.last %}
        <div>

            hello world
        </div>

        {% endif %} -->
        
    {% endfor %}


    
</div>
{% endblock content %}