{% extends 'base.html' %}

{% block home %}

<li class= "mx-2 cursor-pointer"><a href ="{% url 'home' %}">Home</a></li>


{% endblock %}

{% block navcart %}
<li class= "mx-2 cursor-pointer"><a href = "{% url 'cart' %}"> Cart</a></li>
{% endblock %} 

{% comment %} {% block navprofile %}
<li class= "mx-2 cursor-pointer"><a href = "{% url 'profile' %}"> profile</a></li>
{% endblock %} 

{% block logout %}
<li class= "mx-2 cursor-pointer"><a href = "{% url 'landing' %}"> Logout</a></li>
{% endblock %}  {% endcomment %}



{% block navprofile %}
{% if user.is_authenticated %}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'profile' %}"> profile</a></li>

{% else%}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'login' %}"> Profile</a></li>


{% endif %}
{% endblock %} 

{% block navsign %}

{% if user.is_authenticated %}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'logout' %}"> Logout</a></li>

{% else%}

<li class= "mx-2 cursor-pointer"><a href = "{% url 'login' %}"> signin</a></li>

{% endif%}

{% endblock %} 

