{% extends 'main.html' %}

{% load static %}
{% block style %}

{% endblock %}

{% block title %}
    Home
{% endblock %}
{% block content %}

<div class = "bg-gray-200">
    <br>


    <div class = " m-5 pl-5 mx-40 h-[40rem] bg-white grid grid-cols-3">
        <div id = "image" class = "py-10 m-3 mr-7">

            <img src= "images/{{ data.image}}" alt  = "data.name" class = "h-[15rem] w-[20rem]">
            <br>
            <hr>
            <div class="flex py-3">
                <button class = "px-5"> < </button>
                
                <button> 
                <img src= "images/{{ data.image}}" alt  = "data.name" class = "h-[4rem] w-[3rem] m-2  ">
                </button>

                <button> 
                    <img src= "images/{{ data.image}}" alt  = "data.name" class = "h-[4rem] w-[3rem] m-2  ">
                </button>

                <button> 
                    <img src= "images/{{ data.image}}" alt  = "data.name" class = "h-[4rem] w-[3rem] m-2  ">
                </button>
                


                <button  class = "px-5 py-3"> > </button>
            </div>

        </div>

        <div id = "detail" class = "py-10  ">
            <p class= "text-xl">

                {{ data.name }}
            </p>
            <br>
            <br>

            <hr>
            <br>
            <p class= "text-3xl text-orange-700"> Rs. {{ data.price}} </p>
            <br>
            <p> Promotions </p>
            <br>
            <hr>
            <br>
            <p> Color Family </p>
            <br>

            <div class = "flex">
                <p> Size </p>
                <button class = "mx-3"> M</button>
                <button class = "mx-3"> L</button>
                <button class = "mx-3"> XL</button>
                <button class = "mx-3"> XXL</button>

            </div>
            <br>

            <div class = "flex"> 
                <p > Quantity </p>
                <button class = "mx-3"> + </button>
                <p class = "mx-3"> 1 </p>
                <button class = "mx-3"> - </button>
            </div>

            <div class = "text-white">
                <button 
                {% comment %} onclick = "{% url 'profile' %}" {% endcomment %}
                id = "buy_now" class = "px-5 py-3 mt-5 mb-5 bg-blue-500  "> Buy Now </button>
                
                <button id = "add_to_cart" class = "px-5 py-3 mt-5 mb-5 bg-orange-500"> Add to Cart </button>

            </div>

            
        </div>

        <div id = "delivery" >

            <div class = "py-5 px-5 bg-[#fafafa]">

                <p> Delivery </p>
                <br>
                
    
                <div>
                    <p> Tilottama-1 , Rupandehi</p>
    
                </div>
                <br>
    
                <div class= "flex ">
                    <p> Delivery </p>
                    <span class= "px-4"> 3-4 days</span>
                    <p> Rs.110 </p>
                </div>
                <br>
    
                <p> Cash on Delivery Available </p>
                <hr>
                <br>
                <div>
                    <p> Service</p>
                    <br>
                    <p> 100% Authentic from Trusted Brand </p>
                    <br>
                    <p> 14 days free & easy return </p>
                    <br>
                    <p> 100% Money Back Guarantee </p>
                    <br>
    
                </div>
    
                
            </div>

            <div class = "my-3 px-5 bg-[#fafafa]">
                <p> Sold by </p>
                <br>
                <p> ABC </p>
                <br>
                <div class= "flex">
                <button>
                    <p>Positive seller Rating</p> 
                    91%
                </button>
                <button> 
                    <p> Ship on Time</p>
                    
                    99%
                </button>
                <button> 
                    <p> Chat Response </p>
                    100% 
                </button>

                
            </div>
            <br>
            <button> Visit Store</button>
        </div>
    </div>
 
</div>
<br>


<script>
    var name = " {{data.name}}"
    var price = " {{data.price}}"
    var image12 = " {{data.image}}"
    var quantity = " 1"
    var description = " {{data.description}}"
    const myViewUrl = "{% url 'update_cart'  %}";
    const csrfToken = " {{ csrf_token }}"
</script>

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
