{% extends 'main.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class ="bg-gray-300 p-2 h-[30rem] justify-between ">
    <div class= "flex text-xl justify-center p-4 font-bold"> Manage my Account</div>
    {% if data %}

    <div class="flex justify-center">
        <div name = "personalprofile" class="bg-white p-5 m-5 text-sm">
            <h3 class= "text-lg ">Personal Profile </h3>

            <span> {{ data.id.first_name }} {{ data.id.last_name }}</span><br>
            <span> {{ data.id.email }} </span>

        </div>

        <div name = "Address" class ="bg-white p-5 m-5 text-sm">
            <h3 class="text-lg">Address Book</h3>
            <b>{{f_name}}</b><br>
            <span>{{ data.address}}</span>

        </div>
    </div>

    {% comment %} <div name ="recent-order" class="m-2 ml-20 mr-20 p-3 pl-10 pr-10 bg-white">
        <div>Recent Orders</div>
        <div class="flex justify-between mt-2">
            <div>order</div>
            <div>Placed On</div>
            <div>Items</div>
            <div>Total</div>
        </div><br>

        <div class="flex justify-between mt-2">
            <div>
                {{order.0}}
            </div>
            <div>
                {{time.0}}
            </div>
            <div>
                {{items.0}}
            </div>
            <div>
                {{total.0}}
            </div>
        </div>
    
    </div> {% endcomment %}

    {% else %}
    <p> please login first</p>
    {% endif %}
</div>
{% endblock content %}