{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body>
    <header>
        <nav class="px-4 py-4 bg-purple-900 flex justify-between">
            <div >
                <img src="https://randomuser.me/api/portraits/women/18.jpg" alt="logo" class="w h-6 rounded-full cursor-pointer">
            </div>
            <div  class= "mx-2 cursor-pointer justify-center">
                <input type="text" name = "search" class="border-2 border-white ">
                <button class = "px-4 rounded-full text-white hover:bg-white-800 hover:text-black">Search</button>

            </div>
            <ul class="flex justify-end  text-white" >
                <li class= "mx-2 cursor-pointer"><a href ="{% url 'home' %}">Home</a></li>
                <li class= "mx-2 cursor-pointer">Discover</li>
                
                {% block navsign%}
                {% endblock %}
                {% block navcart%}
                {% endblock %}
                {% block navprofile%}
                {% endblock %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Add default main content here -->
        {% endblock %}
    </main>


    <footer class = "px-6 py-4 pl-4 bg-indigo-950 text-gray-300 text-sm">
        <div class="flex justify-between">
            <div class=" justify-start">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Shipping Information</a></li>
                    <li><a href="#">Returns & Refunds</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

            <div class="justify-end">
                <p>Company Name</p>
                <p>123 Main Street, City</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: info@example.com</p>
                <div class="footer-social">
                    <a href="#"><img src="facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="linkedin.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>

        <div class="flex justify-center">
            <p>Accepted Payment Methods:  </p>
            <img class = "px-3" src="visa.png" alt="Visa">
            <img class = "px-3" src="mastercard.png" alt="MasterCard">
            <img class = "px-3" src="paypal.png" alt="PayPal">
            <img class = "px-3" src="american-express.png" alt="American Express">
        </div>

        <div class="py-2 pb-1 flex justify-center">
            <p class="justify-center">© 2023 Daraz Lite. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
